* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100%;
}

header {
    z-index: 1;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
}

.navbar-brand {
    margin-left: 20px !important;
    animation: slideLeft 0.6s ease forwards;
}

.nav-item {
    margin-right: 30px !important;
}

.nav-item {
    padding: 5px 5px;
    animation: slideRight 0.6s ease forwards;

}

.nav-link {
    border-radius: 22px;

}

.nav-link:hover {
    background-color: #ffb42b;
    border-radius: 22px;
    color: black;


}


/* ========================home section========================= */


.home-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

}

.intro {
    padding: 1rem 4.5rem;
    width: 50%;
    animation: slideTop 0.6s ease forwards;

}

.intro h1 {
    line-height: 1.6;
}

.intro h2 {
    color: #ffa600;
}

.social-media ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0 !important;
}

.social-media ul li {
    list-style: none;
}

.social-media ul li a {
    margin-right: 1.27rem;
    text-decoration: none;
    color: black;
}

.social-media ul li a i {
    font-size: 1.5rem;
    color: black;
    padding: 10px;
    background-color: #e6e4e4;
    border-radius: 50%;
}

.social-media ul li a i:hover {
    background-color: #ffa600;
    color: white;
}

.btn {
    padding: 0.1rem 0.6rem;
    border: 2px solid #ffb42b !important;
    background: transparent;
    border-radius: 20px !important;
}

.btn:hover {
    color: white !important;
    background-color: #ffa600 !important;

}

.intro-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    animation: slideBottom 0.6s ease forwards;

}

.intro-img img {
    width: 69%;
    border-radius: 50%;
    transition: 0.4s;
}

.intro-img img:hover {
    box-shadow: 0 0 31px #ff6110;
}

/* ================================about section=================================== */

.about {
    margin-top: 4rem;
    width: 100%;
}

.about-heading {
    text-align: center;
    border-bottom: 4px solid #ffa600;
    margin: 0px 642px;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.about-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    width: 50%;
    animation: slideRight 0.6s ease forwards;

}

.about-img img {
    width: 55%;
}

.about-text {
    padding: 1rem 4rem;
    width: 50%;
    animation: slideLeft 0.6s ease forwards;


}

/* ================================Skills sections========================================== */

.skills {
    margin-top: 4rem;
    width: 100%;
}

.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 45px;
}

.technical-container {
    width: 50%;
    animation: slideLeft 0.6s ease forwards;

}

.technical-heading {
    text-align: center;
}

.technical-bar {
    padding-left: 11rem;
}


.progress-skill-bar {
    height: 7px !important;
    width: 50% !important;
    background-color: #cccccc !important;
    margin-bottom: 18px;

}

.progress-done-bar {
    height: 7px;
    background-color: #ff9300;
    border-radius: 10px;
}

.html {
    width: 90%;
}

.css {
    width: 80%;
}

.js {
    width: 70%;
}

.cPlus {
    width: 83%;
}

.python {
    width: 75%;
}

.nodeJs {
    width: 75%;
}

.reactJs {
    width: 65%;
}



.professional-container {
    width: 50%;
    animation: slideTop 0.6s ease forwards;

}

.professional-heading {
    font-size: 2rem;
}

.skill {
    width: 160px;
    height: 160px;
    /* background-color: white;  */
    position: relative;
}

.outer {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding: 20px;
}

.inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 120px;
    border-radius: 50%;


}

.circle1 {
    fill: none;
    stroke: #ff9300;
    stroke-width: 8px;
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    animation: anim 0.8s linear forwards;


}

.circle2 {
    fill: none;
    stroke: #ff9300;
    stroke-width: 8px;
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    animation: anim2 0.8s linear forwards;


}

.circle3 {
    fill: none;
    stroke: #ff9300;
    stroke-width: 8px;
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    animation: anim3 0.8s linear forwards;


}

.circle4 {
    fill: none;
    stroke: #ff9300;
    stroke-width: 8px;
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    animation: anim4 0.8s linear forwards;


}

svg {
    position: absolute;
    top: 0;
    left: 0;

}

.skill-name {
    color: black;
    text-align: center;
    font-size: 21px;
}

@keyframes anim {
    100% {
        stroke-dashoffset: 80;
    }

}

@keyframes anim2 {
    100% {
        stroke-dashoffset: 150;
    }

}

@keyframes anim3 {
    100% {
        stroke-dashoffset: 100;
    }

}

@keyframes anim4 {
    100% {
        stroke-dashoffset: 110;
    }

}



.professional-skill h2 {
    text-align: center;
    margin-bottom: 53px;
}

.circle-container {
    /* margin-bottom: -50px; */
    width: 380px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 48px;
}


/* ============================services section======================= */


.services{
    margin-top: 4rem;
}

.service-heading {
    margin: 0 618px;
}

.service-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;

}

.service-box {
    border: 1px solid black;
    border-radius: 12px;
    height: 295px;
    width: 370px;
    padding: 33px 14px;
    transition: 0.3s;
    animation: slideBottom 0.6s ease forwards;

}

.service-box:hover {
    box-shadow: 0 0 20px #ff9300;
}

.icon {
    color: #ff9300;
    font-size: 1.8rem;
}


.btn a {
    text-decoration: none;
    color: black;
}



/* =========================project section===================================== */

.project{
    margin-top: 4rem;
}



.project .project-container .row {
    width: 387px;
    height: 300px;
    overflow: hidden;
    /* border: 1px solid black; */
    /* border-radius: 15px; */
    position: relative;
    /* border: 2px solid red; */
}

.project-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
}

.project-heading {
    margin: 0 601px;
}

.row{
    animation: slideTop 0.6s ease forwards;

}

.row img {
    display: block;
    width: 387px;
    height: 300px;
    opacity: 1;
    transition: transform 0.5s;
    border-radius: 40px;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.03), rgba(210, 141, 31, 0.322));
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s ease;
}

.layer p {
    font-size: 14px;
    color: white;

}

.layer a {
    height: 27px;
    width: 104px;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 25px;
    text-align: center;
    font-size: 18px;
}



.row:hover img {
    transform: scale(1.1);
}

.row:hover .layer {
    height: 100%;
}

.row:hover {
    box-shadow: 0 0 20 #ff9300;
}


/* =======================contact section===================================== */


.contact-section {
    margin-top: 4rem;
    width: 100%;
}

.contact-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 50px;
}

.contact-details {
    width: 50%;
    padding: 1rem 6.5rem;
    animation: slideLeft 0.6s ease forwards;

}

form {
    width: 50%;
    margin-left: 5.5rem;
    animation: slideRight 0.6s ease forwards;


}

input,
textarea {
    width: 60%;
}

.contact-heading {
    margin: 0 622px;
}



/* =====================footer============================ */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffd49a;
    padding: 1rem 0px;
    margin-top: 1.25rem;
    animation: slideBottom 0.6s ease forwards;

}

footer h2{
    font-size: 18px;
}




section{
    margin-bottom: 4rem;
}



/* ==========================Add Media Query============================ */


@media only screen and (max-width: 767px) {
    .home-section {
        flex-direction: column-reverse;
    }

    .intro {
        width: 87%;
        padding: 0;
        margin-top: 60px;
    }

    .intro-img img {
        width: 78%;
    }

    .about-heading {
        margin: 0 95px;
    }

    .about-img {
        display: none;
    }

    .about-text {
        padding: 1rem 2rem;
        width: 100%;
    }

    .skills-container {
        flex-direction: column;
    }

    .technical-container {
        width: 184% !important;
    }

    .professional-heading {
        font-size: 25px;
    }

    .service-heading {
        margin: 0 81px;
    }

    .service-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .service-box {
        margin: 27px 10px;
        height: 298px;
        width: 304px;

    }

    .project-container {
        flex-direction: column;
    }

    .row {
        margin: 27px 10px;
        height: 298px;
        width: 350px !important;

    }

    .contact-heading{
        margin: 0 89px;
    }
    .contact-container {
        flex-direction: column;
    }

    .contact-details {
        width: 108%;
        padding: 1rem 1.3rem;
    }

    form{
        margin-left: 2.5rem;
    }

    input,textarea{
        width: 161%;
    }
}







/* =================Add animations============================= */




@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }

}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }

}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}